*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(1, 11, 48);
}

.container{
    padding: 15px;
    box-shadow: 0 0 20px rgb(119, 113, 113);
    border: 2px solid rgb(45, 162, 198);
    border-radius: 15px;
}

.displayMenu input{
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    color: white;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: white;
}

button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 24px;
    font-weight: 600;
    border: 0;
    border-radius: 50%;
    box-shadow: -5px -6px 15px rgb(119, 113, 113);
    cursor: pointer;
}

button:active{
    background: rgb(119, 113, 113);
    transform: translate(2px, 2px);
}

.arith_opr{
    color: rgb(234, 174, 44);
    background-color: black;
}

#equal{
    background: rgb(237, 59, 0);
    color: white;
}